pip -q install langchain-core
pip -q install langchain-community
pip -q install sentence-transformers
pip -q install langchain-huggingface
pip -q install langchain-chroma
pip -q install chromadb
pip -q install pypdf